---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<link rel="icon" href="/favicon.ico" sizes="any" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>Jordan Salinas</title>
<meta name="title" content="Jordan Salinas" />
<meta name="description" content="Jordan Salinas' profile site" />

<meta charset="utf-8">
<title>Jordan Salinas</title>
<link rel="stylesheet" type="text/css" href="/src/styles/colors.css">
<link rel="stylesheet" type="text/css" href="/src/styles/global.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-42XE8DNX2E"></script>
<!-- <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-42XE8DNX2E');
</script> -->
