---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, id, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} id={id} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: flex;
    justify-content: center;
    align-items: center;
		text-decoration: none;
		color: var(--primary5);
		margin: 4px 0;
    transition: color .4s, border-color .4s;
    border: 2px var(--primary5) solid;
    padding: 2px 4px;
    border-radius: 4px;
	}

	a:hover {
		color: rgba(131,234,255,1);
    border-color: rgba(131,234,255,1);
	}
</style>
