---
import Card from './Card.astro';

type Props = {
  src: string;
  description: string;
  dates: string;
}

const { src, description, dates } = Astro.props
---

<Card>
  <img src={src} />
  <p class="dates">{dates}</p>
  <p>{description}</p>
</Card>
<style>
  img {
    max-height: 80px;
    max-width: 130px;
  }

  p {
    margin: 0;
    width: 350px;
  }

  .dates {
    color: var(--primary4);
    font-size: .9rem;
    margin-bottom: 8px;
  }
</style>