---
import ButtonLink from './ButtonLink.astro';
---

<header>
	<h4 class="display-4">
		JORDAN SALINAS
	</h4>

	<ButtonLink href="https://www.linkedin.com/in/jordan-salinas-9a0116113">
		<img class="linkedin-logo" src="/linkedin-logo.png"/>
	</ButtonLink>
</header>
<style>
	header {
		box-sizing: border-box;
		width: 100%;
		display: flex;
		flex-direction: row;
		color: var(--primary5);
		padding: 16px;
		position: sticky;
		top: 0;
		background: white;
		justify-content: space-between;
	}

	img {
		height: 20px;
	}

	.linkedin-logo {
		height: 16px;
		width: 16px;
	}
</style>
